{% extends 'base.html.twig' %}

{% block title %}Decommissioned List{% endblock %}

{% block body %}

<div class="">
  {% if app.user != null %}
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <br>
      {{ knp_pagination_filter(pagination, {'dtn.name': 'Data Table','d.rownumber': 'Row Number', 'u.name': 'Decommissioned By Name','d.decommissioneddate': 'Decommissioned Date'}) }}
      <br>
      {{ knp_pagination_render(pagination, null, {}, {
        'align': 'center',
        'size': 'large',
        'rounded': true,
      }) }}
    </div>
    <div class="col-sm-12 col-lg-8 table-responsive">
      <br>
      <table class="table table-striped table-light">
        <thead>
          <tr>
            <th>Decommissioned ID</th>
            <th>Data Table</th>
            <th>Row Number</th>
            <th>Decommissioned Date</th>
            <th>Decommissioned By</th>
          </tr>
        </thead>
        <tbody name="assetsubTable" id="assetsubTable">
          {% for decommissioned in pagination %}
          {% set id = decommissioned.id %}
          <tr>    
            <td><a class="nav-link" href="">{{ decommissioned.id }}</a></td>
            <td>{{ decommissioned.datatablename }}</td>           
            <td>{{ decommissioned.rownumber }}</td>  
            <td>{{ decommissioned.decommissionedby }}</td>
            <td>{{ decommissioned.decommissioneddate|date('d-m-Y') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
