{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-light mb-3 mt-3">
                <div class="card-body">
                    {% if app.user != null %}
                    <div class="container">
                        <div class="row">
                            <div class="card col-sm-12 col-md-3" style="width: 18rem;">
                              <div class="card-body">
                                <a href="{{ path('contact_menu') }}"><img class="h-50 card-img-top img-fluid image" src="{{ asset('images/tracing.png') }}" alt="Contact"><h2 class="card-title text-center pt-5">Contact</h2></a>
                              </div>
                            </div>
                            <div class="card col-sm-12 col-md-3" style="width: 18rem;">
                              <div class="card-body">
                                <a href="{{ path('testing_menu') }}"><img class="h-50 card-img-top img-fluid image" src="{{ asset('images/testing.png') }}" alt="Testing"><h2 class="card-title text-center pt-5">Testing</h2></a>
                              </div>
                            </div>
                            <div class="card col-sm-12 col-md-3" style="width: 18rem;">
                              <div class="card-body">
                                <a href="{{ path('infection_menu') }}"><img class="h-50 card-img-top img-fluid image" src="{{ asset('images/biohazard.png') }}" alt="Testing"><h2 class="card-title text-center pt-5">Infection</h2></a>
                              </div>
                            </div>
                            <div class="card col-sm-12 col-md-3" style="width: 18rem;">
                              <div class="card-body">
                                <a href="{{ path('data_menu') }}"><img class="h-50 card-img-top img-fluid image" src="{{ asset('images/data.png') }}" alt="Data"><h2 class="card-title text-center pt-5">Data</h2></a>
                              </div>
                            </div>
                        </div>
                    </div>          
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}