{% extends 'base.html.twig' %}

{% block title %}Test Locations{% endblock %}

{% block body %}
<div class="">
  {% if app.user != null %}
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <br>
        <a href="{{ path('testlocation_create') }}"><button type="button" class="btn btn-primary btn-block nav-link">Create Test Location</button></a>
      <br>
      {{ knp_pagination_filter(pagination, {'tl.name': 'Name','a.addressline1': 'Address'}) }}
      <br>
      {{ knp_pagination_render(pagination, null, {}, {
        'align': 'center',
        'size': 'large',
        'rounded': true,
      }) }}
    </div>
    <div class="col-sm-12 col-lg-8 table-responsive">
    <br>
      <table class="table table-striped table-light">
        <thead>
          <tr>
            <th>Test Location ID</th>
            <th>Name</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody name="testlocationTable" id="testlocationTable">
          {% for testlocation in pagination %}
          {% set id = testlocation.id %}
          <tr>
            <td><a class="nav-link" href="{{ path('testlocation_edit', {'id': testlocation.id}) }}">{{ testlocation.id}}</a></td>
            <td>{{ testlocation.name }}</td>           
            <td>{{ testlocation.address }}</td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
